.SingleTaskNav {
    height: 10%;
    width: 100%;
    position: relative;
    padding: 0 20px;
    top: 0;
    left: 0;
}

.SingleTaskNav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px rgba(129, 129, 129, 0.596) solid;
}