.Task {
    padding: 10px 10px 10px 10px;
    position: relative;
    border-radius: 4px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(228, 228, 228);
    margin: 10px auto;
    transition: all 1s;
    cursor: pointer;
}

.Task:hover {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.31);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.31);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.31);
    background-color: #fff;
}

.Task header {
    display: flex;
    align-content: center;
}

.Task header h5 {
    flex-grow: 1;
    margin: 5px 0;
}

.Main {
    display: none;
    border-top: 1px solid rgb(228, 228, 228);
    margin-top: 15px;
    transition: all 1s;
}

.openDetails {
    display: block;
}

.Main p {
    margin: 10px 0 0 0;
    font-size: .9em;
    line-height: 1.5em;
}
