.Header {
    height: 10%;
    width: 100%;
    position: relative;
    display: block;
}

.Header h2 {
    padding-left: 10%;
    position: absolute;
}

.Header button {
    position: absolute;
    right: 10px;
    top: 5px;

}

.Header button div {
    color: red;
}